.modal-container {
  max-width: 500px;
  height: 400px;
  background-color: white;
  padding: 50px;
}

.submit-button {
  width: 300px;
  height: 40px;
  padding: 5px 20px;
  border: 1px solid silver;
  border-radius: 5px;
  &:disabled {
    background-color: silver;
  }
  &:hover {
    background-color: steelblue;
    color: white;
  }
}

.text-area {
  min-width: 100%;
  max-width: 100%;
  min-height:150px;
  max-height: 200px;
}
