.animals-container {
  padding: 50px;
}

.box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;
  width: fit-content;
  color: black;
  box-shadow: 1px 1px 5px 0 silver;
}

.container {
  margin: 0 20px;
  box-shadow: 1px 1px 10px 1px silver;
  &:hover {
    box-shadow: 1px 1px 10px 5px silver;
  }
}

.scroll {
  overflow: auto;
  max-height: 700px;
}