.animals-container {
  background: linear-gradient( 0deg, rgba(255, 26, 5, 0.391194) 0%, #f55a03 16%, #ff8f00 100%);
  color: white;
  padding: 50px;
}

.box {
  background-color: whitesmoke;
  padding: 20px 30px;
  border-radius: 20px;
  width: fit-content;
  color: black;
}

.container {
  margin: 0 20px;
  box-shadow: 1px 1px 10px 1px silver;
  &:hover {
    box-shadow: 1px 1px 10px 5px silver;
  }
}
