.container { 
  padding: 20px 50px;
}

.center-container {
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
}

.form-container {
  color: black;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 1px 1px 5px silver;
}


.submit {
  width: 300px;
  margin: 0 auto;
  height: 40px;
  padding: 5px 20px;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: rebeccapurple;

  &:disabled {
    cursor: default;
    background-color: silver;
  }
  &:hover:enabled{
    background-color: rebeccapurple;
    color: white;
  }
}

.input {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.preview {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid silver;
  box-shadow: 1px 1px 3px 0px silver;
  margin-left: 15px;
}

.input-label {
  font-size: 15px;
  line-height: 24px;
  padding-left: 15px;
}
