@import 'src/scss/variables/colors';

.banner {
  border-radius: 25px;
}

.login-container {
  padding: 50px;
  background-image: url('../../assets/login-background.png');
  background-size: cover;
  height: 100%;
}

.login-icon-title {
  height: 200px;
  margin-bottom: 30px;
  width: 200px;
}

.login-form-container {
  width: 500px;
  color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 10px silver;
  background: linear-gradient( 
    0deg
     , rgba(255,26,5,0.39119397759103647) 0%, rgba(245,90,3,1) 16%, rgba(255,143,0,1) 100%);
}

.login-fields {
  padding: 20px;
}

.login-banner {
  bottom: 0;
  max-height: 300px;
}


.login-button {
  background-color: #5D5A5A; /* Green */
  border: 1px solid whitesmoke;
  border-radius: 50px;
  height: 30px;
  color: white;
  &:hover {
    background-color: rgba(245,90,3,1);
  }
}

.black-text {
  color: black;
}
